<div id="<%= dom_id kten %>">
  <p>
    <strong>First name:</strong>
    <%= kten.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= kten.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= kten.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= kten.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= kten.twitter %>
  </p>

</div>
