<div id="<%= dom_id car %>">
  <p>
    <strong>First name:</strong>
    <%= car.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= car.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= car.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= car.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= car.twitter %>
  </p>

</div>
