



<div class="jumbotron">
  <h1 class="display-4"> 
    <%= @car.first_name %> 
     <%= @car.last_name %></h1>
  <p class="lead">
    <%= @car.email %>|
    <%= @car.phone %>|
    <%= @car.twitter %>|
  </p>
  

  <%= link_to "Edit ", edit_car_path(@car), class:'btn btn-secondary'%> 
  <%= link_to "Back ", cars_path, class:'btn btn-dark' %>
  
</div> 




